[submodule "external/Replication_DCP"]
	path = external/Replication_DCP
	url = ssh://git@github.com/kwuthrich/Replication_DCP
[submodule "external/isodistrreg"]
	path = external/isodistrreg
	url = ssh://git@github.com/AlexanderHenzi/isodistrreg
